In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

In [5]:
data = pd.read_csv('Elon_musk.csv',encoding="latin-1")
data.head()

   Unnamed: 0                                               Text
0           1                             @kunalb11 Im an alien
1           2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2           3                @joerogan @Spotify Great interview!
3           4                    @gtera27 Doge is underestimated
4           5  @teslacn Congratulations Tesla China for amazi...

In [7]:
#Number of Words in single tweet
data['word_count'] = data['Text'].apply(lambda x: len(str(x).split(" ")))
data[['Text','word_count']].head()

                                                Text  word_count
0                             @kunalb11 Im an alien           4
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
2                @joerogan @Spotify Great interview!           4
3                    @gtera27 Doge is underestimated           4
4  @teslacn Congratulations Tesla China for amazi...          17

In [9]:
#Number of characters in single tweet
data['char_count'] = data['Text'].str.len() ## this also includes spaces
data[['Text','char_count']].head()

                                                Text  char_count
0                             @kunalb11 Im an alien          22
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          82
2                @joerogan @Spotify Great interview!          35
3                    @gtera27 Doge is underestimated          31
4  @teslacn Congratulations Tesla China for amazi...         104

In [13]:
#Average word length
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head()

                                                Text  avg_word
0                             @kunalb11 Im an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471

In [14]:
#NUmber of stopwords
import nltk
nltk.download('stopwords')

stop = stopwords.words('english')

data['stopwords'] = data['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Text','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                Text  stopwords
0                             @kunalb11 Im an alien          1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          4
2                @joerogan @Spotify Great interview!          0
3                    @gtera27 Doge is underestimated          1
4  @teslacn Congratulations Tesla China for amazi...          5

In [15]:
#Number of Special characters
data['hastags'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['Text','hastags']].head()

                                                Text  hastags
0                             @kunalb11 Im an alien        1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...        1
2                @joerogan @Spotify Great interview!        2
3                    @gtera27 Doge is underestimated        1
4  @teslacn Congratulations Tesla China for amazi...        1

In [16]:
#Number of numerics
data['numerics'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Text','numerics']].head()

                                                Text  numerics
0                             @kunalb11 Im an alien         0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                @joerogan @Spotify Great interview!         0
3                    @gtera27 Doge is underestimated         0
4  @teslacn Congratulations Tesla China for amazi...         0

In [17]:
#Number of Upper Case words
data['upper'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Text','upper']].head()

                                                Text  upper
0                             @kunalb11 Im an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0

## Pre- Processing

In [18]:
#Lower-case
data['Text'] = data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['Text'].head()

0                               @kunalb11 im an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

In [19]:
#Removing Punctuation
data['Text'] = data['Text'].str.replace('[^\w\s]','')
data['Text'].head()

<ipython-input-19-30bb6ea6f4c3>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Text'] = data['Text'].str.replace('[^\w\s]','')

0                                 kunalb11 im an alien
1    id_aa_carmack ray tracing on cyberpunk with hd...
2                     joerogan spotify great interview
3                       gtera27 doge is underestimated
4    teslacn congratulations tesla china for amazin...
Name: Text, dtype: object

In [20]:
#Removing stop words
stop = stopwords.words('english')
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

In [21]:
#Common word removal
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]
freq

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [22]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [23]:
#Rare words removal
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-10:]
freq

implant        1
combo          1
issue          1
fresh          1
wtf            1
freilich       1
failing        1
autocorrect    1
bogle          1
advertising    1
dtype: int64

In [24]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [25]:
#Spelling correction
data['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                    kunalb11 in alien
1    id_aa_carmack ray tracing cyberpunk her nextle...
2                           joerogan specify interview
3                          gtera27 done underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [26]:
#Tokenization
import nltk
nltk.download('punkt')

TextBlob(data['Text'][1]).words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'nextlevel', 'tried'])

In [27]:
#Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                    kunalb11 im alien
1    id_aa_carmack ray trace cyberpunk hdr nextleve...
2                           joerogan spotifi interview
3                              gtera27 doge underestim
4    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

In [28]:
#Lemmatization
from textblob import Word

import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [29]:
data['Text'] = data['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

## Advanced Text Processing

In [30]:
#N-grams
TextBlob(data['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'im']), WordList(['im', 'alien'])]

#### Term frequency

Term frequency is simply the ratio of the count of a word present in a sentence, to the length of the sentence.

Therefore, we can generalize term frequency as:

TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [31]:
tf1 = (data['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0          tried   1
1  id_aa_carmack   1
2        tracing   1
3            hdr   1
4      cyberpunk   1
5      nextlevel   1
6            ray   1

#### Inverse Document Frequency

The intuition behind inverse document frequency (IDF) is that a word is not of much use to us if it’s appearing in all the documents.

Therefore, the IDF of each word is the log of the ratio of the total number of rows to the number of rows in which that word is present.

IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.

In [33]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Text'].str.contains(word)])))

tf1

           words  tf       idf
0          tried   1  5.808643
1  id_aa_carmack   1  4.166415
2        tracing   1  7.600402
3            hdr   1  6.907255
4      cyberpunk   1  5.115496
5      nextlevel   1  6.907255
6            ray   1  5.035453

In [34]:
#Term Frequency – Inverse Document Frequency (TF-IDF)
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0          tried   1  5.808643  5.808643
1  id_aa_carmack   1  4.166415  4.166415
2        tracing   1  7.600402  7.600402
3            hdr   1  6.907255  6.907255
4      cyberpunk   1  5.115496  5.115496
5      nextlevel   1  6.907255  6.907255
6            ray   1  5.035453  5.035453

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(data['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7373 stored elements in Compressed Sparse Row format>

In [36]:
#Bag of words
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
data_bow = bow.fit_transform(data['Text'])
data_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 8021 stored elements in Compressed Sparse Row format>

In [37]:
#Sentiment Analysis
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                 (-0.25, 0.75)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [38]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Text','sentiment']].head(30)

                                                 Text  sentiment
0                                   kunalb11 im alien  -0.250000
1   id_aa_carmack ray tracing cyberpunk hdr nextle...   0.000000
2                          joerogan spotify interview   0.000000
3                         gtera27 doge underestimated   0.000000
4   teslacn congratulation china amazing execution...   0.200000
5                happy new year ox httpstco9wfkmyu2oj   0.468182
6   frodo underdoge thought would fail httpstcozgx...  -0.500000
7                    owensparks_ anonyx10 haha thanks   0.200000
8   anonyx10 indeed tweet definitely represent rea...   0.000000
9                         entertaining outcome likely   0.250000
10                                  givedirectly sent   0.000000
11                          agree clubhouse kanyewest   0.000000
12                                 httpstco3rwe9uhsts   0.000000
13            geoffkeighley unrealengine getting real   0.200000
14               bought dogecoin lil x toddler hodler   0.000000
15  joshmanmode definitely issue sentencing seems ...   0.080000
16                        freewalletorg thanks fixing   0.200000
17                freewalletorg please unlock account   0.000000
18                      astrojordy u0001f923u0001f923   0.000000
19                 true power haha httpstcofc9uhqsd7o   0.275000
20  freewalletorg crypto wallet wont give private ...   0.000000
21                             freewalletorg app suck   0.000000
22  nasa selected falcon heavy launch first two el...   0.025000
23                                        ajtourville   0.000000
24  blkmdl3 rationaletienne adamklotz_ predict cas...   0.200000
25  rationaletienne adamklotz_ starlink staggering...  -0.100000
26  rationaletienne adamklotz_ need pas deep chasm...  -0.100000
27  id_aa_carmack lowest cost per ton carbon seque...   0.000000
28  adamklotz_ meant price country difference tax ...   0.000000
29  tobyliiiiiiiiii intended earth may idea apply mar   0.000000